.dancing-script-<uniquifier> {
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
  }

 h2 {
     font-family: "Dancing Script", cursive;
     font-weight: 700;
     font-style: italic;
     font-size: 50px
 }
 h3 {
    font-family: "Dancing Script", cursive;
    font-weight: 700;
    font-style: italic;
    font-size: 40px
}
